body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to left, rgb(175, 196, 176) 0%, rgb(245, 247, 247) 100%);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px !important;
    color: #293a39;
}
